@model Category
@{
    ViewBag.Title = Model.CategoryName + " Detayı";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Duzenle", "Category", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.CategoryName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(x => x.CategoryName, new { placeholder = "Kategori Adı", @class = "form-control" })
                </div>
            </div>
            @Html.HiddenFor(x => x.CategoryID)
            <div class="form-group">
                @Html.LabelFor(x => x.Description, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Description, new { placeholder = "Açıklama", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Güncelle</button>
                </div>
            </div>
        }
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-2">
                <a href="@Url.Action("Yeni")" class="btn btn-info btn-block" role="button">Yeni Ürün</a>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr class="success">
                    <th>#</th>
                    <th>Ürün Adı</th>
                    <th>Fiyat</th>
                    <th>Adedi</th>
                    <th>Stok</th>
                    <th>Düzenle</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sayac = 0;
                    string durum = string.Empty;
                }
                @foreach (var item in Model.Products)
                {
                    sayac++;
                    if (item.UnitsInStock == 0)
                    { durum = "danger"; }
                    else if (item.UnitsInStock > 0 && item.UnitsInStock <= 10)
                    { durum = "warning"; }
                    else if (item.UnitsInStock > 10 && item.UnitsInStock <= 20)
                    { durum = "info"; }
                    else
                    { durum = "success"; }
                    <tr class="@durum">
                        <th scope="row">@sayac</th>
                        <td>@item.ProductName</td>
                        <td>@string.Format("{0:c2}", item.UnitPrice)</td>
                        <td>@item.QuantityPerUnit</td>
                        <td>@item.UnitsInStock</td>
                        <td>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="@Url.Action("Detay", "Product", new { id = item.ProductID })" class="btn btn-success btn-block"
                                       role="button">Düzenle</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="@Url.Action("Sil", "Product", new { id = item.ProductID })" class="btn btn-warning btn-block"
                                       role="button">Sil</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>